MYSQL_ROOT_PASSWORD=<generated-on-server>
BUSINESS_DB_NAME=zyysc4
BUSINESS_DB_USER=lejia_business
BUSINESS_DB_PASSWORD=<generated-on-server>
ACCOUNT_DB_NAME=tofocus_account
ACCOUNT_DB_USER=lejia_account
ACCOUNT_DB_PASSWORD=<generated-on-server>
FILE_DB_NAME=tofocus_file
FILE_DB_USER=lejia_file
FILE_DB_PASSWORD=<generated-on-server>
REDIS_PASSWORD=<generated-on-server>
RABBITMQ_USER=lejia_app
RABBITMQ_PASSWORD=<generated-on-server>
RABBITMQ_VHOST=/lejia-dev

