APP_RELEASE_ID=<sha256-prefix>

ACCOUNT_DB_NAME=tofocus_account
ACCOUNT_DB_USER=lejia_account
ACCOUNT_DB_PASSWORD=<copied-from-infra-env>

FILE_DB_NAME=tofocus_file
FILE_DB_USER=lejia_file
FILE_DB_PASSWORD=<copied-from-infra-env>

BUSINESS_DB_NAME=zyysc4
BUSINESS_DB_USER=lejia_business
BUSINESS_DB_PASSWORD=<copied-from-infra-env>

REDIS_PASSWORD=<copied-from-infra-env>
RABBITMQ_USER=lejia_app
RABBITMQ_PASSWORD=<copied-from-infra-env>
RABBITMQ_VHOST=/lejia-dev

JASYPT_ENCRYPTOR_PASSWORD=<generated-on-server>
